.tab {
  margin-left: 20px;
  padding-bottom: 8px;
  opacity: 0.72;
  white-space: nowrap;
  border-bottom: 4px solid transparent;
  border-radius: 2px;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    opacity: 1;
  }

  &.active {
    border-color: $color-rocky;
    cursor: default;
    opacity: 1;
  }

  &.disabled {
    opacity: 0.32;
    cursor: default;
  }
}

.dark .tab {
  color: $color-white;
}

.light .tab {
  color: $color-titanic;
}
