$color-white: #fff;
$color-black: #1e1e24;

// Blue
$color-titanic: #04153e;
$color-gladiator: #27293d;
$color-interstellar: #113079;
$color-godfather: #214eb0;
$color-rocky: #3d75e4;
$color-alien: #81abee;
$color-memento: #c0d6f6;
$color-arrival: #e4edfb;
$color-rush: #f6f9fe;

// Red
$color-prestige: #34040f;
$color-exorcist: #480a17;
$color-predator: #711426;
$color-stalker: #ab213a;
$color-fargo: #e14761;
$color-indiana: #f196a5;
$color-bandit: #f7cfd5;
$color-romance: #fbe9ec;
$color-joker: #fef8f9;


.bg-gladiator {
  background-color: $color-gladiator;
}


// color
.color-white {
  color: $color-white;
}

//.color-rocky {
//  color: $color-rocky;
//}
//
//.color-alien {
//  color: $color-alien;
//}
//
//.color-fargo {
//  color: $color-fargo;
//}
//
//.color-indiana {
//  color: $color-indiana;
//}
