.dark {
  color: $color-rush;
  background-color: $color-titanic;
  background-image: linear-gradient($color-titanic, lighten($color-titanic, 15%));

  .monaco-editor {
    background-color: $color-titanic-72;
  }
}

.light {
  color: $color-titanic;
  background-color: $color-arrival;
  background-image: linear-gradient($color-arrival, $color-white);

  .monaco-editor {
    background-color: $color-rocky-08;
  }
}

.mw-618 {
  max-width: 618px;
}

.monaco-editor {
  padding-top: 4px;

  .monaco-hover {
    display: none !important;
  }

  .margin,
  .lines-content {
    background-color: transparent !important;
  }

  * {
    border-color: transparent !important;
  }
}


@media (min-width: 640px) {

  .container {
    min-height: 940px;
  }

  .textContainer {
    min-height: calc(100vh - 106px);
  }
}

@media (max-width: 639px) {

  .container {
    min-height: 420px;
  }

  .textContainer {
    min-height: calc(100vh - 170px);
  }
}
