.container {
  height: 100vh;
}

.dark {
  color: $color-rush;
  background-image: linear-gradient($color-titanic, lighten($color-titanic, 15%));
}

.light {
  color: $color-titanic;
  background-image: linear-gradient($color-arrival, $color-white);
}

.mw-618 {
  max-width: 618px;
}


@media (min-width: 640px) {

  .container {
    min-height: 980px;
  }
}

@media (max-width: 639px) {

  .container {
    min-height: 420px;
  }
}
