.container {
  height: 100vh;
}

.dark {
  color: $color-rush;
  background-image: linear-gradient($color-titanic, lighten($color-titanic, 15%));
}

.light {
  color: $color-titanic;
  background-color: $color-rush;
}

.mw-618 {
  max-width: 618px;
}
